.donhang{
  &__section{

  }
  &__title{
    color: rgb(56, 64, 89);
    font-size: 14px;
    font-weight: 600;
  }
  &__form{
    border-radius: 10px;
    &__icon{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M12.7 11.3C13.6 10.1 14.1 8.7 14.1 7.1C14.1 3.2 11 0 7.1 0C3.2 0 0 3.2 0 7.1C0 11 3.2 14.2 7.1 14.2C8.7 14.2 10.2 13.7 11.3 12.8L14.3 15.8C14.5 16 14.8 16.1 15 16.1C15.2 16.1 15.5 16 15.7 15.8C16.1 15.4 16.1 14.8 15.7 14.4L12.7 11.3ZM7.1 12.1C4.3 12.1 2 9.9 2 7.1C2 4.3 4.3 2 7.1 2C9.9 2 12.2 4.3 12.2 7.1C12.2 9.9 9.9 12.1 7.1 12.1Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      svg{
        opacity: 0;
      }
    }
    &__input{
      color: rgb(56, 64, 89);
      font-size: 14px;
      border-radius: 10px;
    }
  }
  &__box{
    padding: 10px;
    border-radius: 10px;
    &--c1{
      padding: 10px 20px;
    }
    &__txtLeft{
      color: rgb(56, 64, 89);
      font-size: 14px;
    }
    &__txtRight{
      color: rgb(204, 51, 102);
      font-size: 14px;
      font-weight: 600;
    }
    &__img{

    }
    &__icon{
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 6L15 12L9 18' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
    }
    &__title{
      @extend .donhang__title;
    }
    &__txt{
      color: rgb(56, 64, 89);
      font-size: 12px;
    }
    &__label{
      font-size: 12px;
      font-weight: 600;
    }
    &__btn{
      text-transform: inherit;
      border-radius: 10px;
      background: rgb(250, 250, 250) !important;
      border-color: rgb(250, 250, 250) !important;
      color: rgb(56, 64, 89);
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:before{
        content: "";
        display: inline-flex;
        margin-right: 6px;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' class='flex-shrink-0'%3E%3Cstyle type='text/css'%3E rect.rectClass %7B stroke: %23000066; fill: %2300cc00; %7D circle.circleClass %7B stroke: %23006600; fill: %23cc0000; %7D %3C/style%3E%3Cpath d='M6 12H3' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round' class=''%3E%3C/path%3E%3Cpath d='M6 17H5' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M17.829 18H23V12L19 10L18 6H10V18H12.171' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M1 7H6' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M1 2H10V6' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M15 22C16.6569 22 18 20.6569 18 19C18 17.3431 16.6569 16 15 16C13.3431 16 12 17.3431 12 19C12 20.6569 13.3431 22 15 22Z' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M14 9V11H16' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
      }
    }
    &__item{
      &:nth-child(n+2){
        margin-top: 10px;
      }
    }
  }
}