.home{
  &__title{
    font-size: 16px;
    //font-family: $font-Roboto-Bold;
    //font-family: $font-Verdana;
    //font-family: $font-Verdana-Bold;
    font-family: $font-Roboto-Medium;
    text-transform: uppercase;
    color: #{$secondary-color};
  }
  &__linkMore{
    font-size: 12px;
    color: #{$secondary-color};
    position: relative;
    display: inline-flex;
    padding-right: 16px;
    &:after{
      content: "";
      $x:16px;
      width: #{$x};
      height: #{$x};
      display: flex;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='7 4 13 10 7 16'%3E%3C/polyline%3E%3C/svg%3E");
    }
    &:hover{
      color: #{$primary-color};
      &:after{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23CB004C' stroke-width='1.03' points='7 4 13 10 7 16'%3E%3C/polyline%3E%3C/svg%3E");
      }
    }
  }
  &__search{
    width: 100%;
    .uk-search-icon{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M22 21.9998L15.656 15.6558' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18Z' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      svg{
        opacity: 0;
      }
    }
    &__input{
      border-radius: 10px;
      background-color: #fff !important;
      color: #{$secondary-color};
      font-size: 14px;
      &::placeholder{
        color: #{$secondary-color};
      }
    }
  }
  &__boxSelect{
    &__label{
      font-size: 14px;
      color: #6c757d;
    }
    &__txt{
      font-size: 14px;
      color: #{$secondary-color};
    }
  }
  &__slider{
    &__cover{
      border-radius: 20px;
    }
    &__dots{
      >*{
        padding-left: 10px;
        &.uk-active{
          >*{
            background-color: #384059;
          }
        }
        >*{
          width: 6px;
          height: 6px;
          background-color: rgba(#384059,0.3);
          border-color: transparent;
        }
      }
    }
  }
  &__danhmuc{
    &__navbar{
      &.uk-navbar-sticky{
        background-color: #fff;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
      }
      .uk-navbar-nav{
        gap: 0;
        >*{
          >*{
            min-height: 40px;
            padding: 0 10px;
            white-space: nowrap;
            text-transform: initial;
            font-size: 14px;
            font-family: $font-Roboto-Medium;
            color: #{$secondary-color};
            border-bottom: 3px solid transparent;
            &:hover{
              color: #{$primary-color};
              border-color: #{$primary-color};
            }
          }
          &.uk-active{
            >*{
              color: #{$primary-color};
              border-color: currentColor;
            }
          }
        }
      }
    }
    &__box{
      padding: 12px;
      border-radius: 10px;
      width: max-content;
    }
    &__txt{
      font-size: 14px;
      font-family: $font-Roboto-Medium;
    }
  }
  &__box{
    border-radius: 4px;
    &:last-child{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &__boxSpace{
    margin-left: -15px;
    margin-right: -15px;
  }
  &__overflow{
    padding-bottom: 20px;
    &::-webkit-scrollbar{
      display: none;
    }
    &__grid{

    }
    &__column{
      $x:15px;
      &:first-child{
        margin-left: #{$x};
      }
      &:last-child{
        padding-right: #{$x};
      }
    }
  }
  &__ncc{
    max-width: 160px;
  }
  &__card{
    &:not(.card){
      width: 179px !important;
    }
    &.card{
      box-shadow: none;
    }
    min-height: 133px;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    &__title{
      @extend .line-clamp-2;
      font-size: 12px;
      margin: 0;
      font-family: $font-Roboto-Light;
    }
    &__txt{
      font-size: 10px;
      font-family: $font-Roboto-Light;
      &--map{
        padding-left: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M7.86667 3.93333C7.86667 6.33333 4.93333 9 4.93333 9C4.93333 9 2 6.33333 2 3.93333C2 3.15537 2.30905 2.40926 2.85915 1.85915C3.40926 1.30905 4.15537 1 4.93333 1C5.7113 1 6.45741 1.30905 7.00751 1.85915C7.55762 2.40926 7.86667 3.15537 7.86667 3.93333V3.93333Z' stroke='%239B9FAC' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M4.93343 5.26664C5.66981 5.26664 6.26676 4.66969 6.26676 3.93331C6.26676 3.19693 5.66981 2.59998 4.93343 2.59998C4.19705 2.59998 3.6001 3.19693 3.6001 3.93331C3.6001 4.66969 4.19705 5.26664 4.93343 5.26664Z' stroke='%239B9FAC' stroke-width='0.75' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center left;
      }
    }
    &__price{
      font-size: 14px;
      color: #{$primary-color};
      font-family: $font-Roboto-Bold;
    }
    &__iconMore{
      width: 30px;
      height: 30px;
      display: flex;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 65 65' fill='none'%3E%3Cpath d='M16.5 2.5H4.5C3.96957 2.5 3.46086 2.71071 3.08579 3.08579C2.71071 3.46086 2.5 3.96957 2.5 4.5V16.5C2.5 17.0304 2.71071 17.5391 3.08579 17.9142C3.46086 18.2893 3.96957 18.5 4.5 18.5H16.5C17.0304 18.5 17.5391 18.2893 17.9142 17.9142C18.2893 17.5391 18.5 17.0304 18.5 16.5V4.5C18.5 3.96957 18.2893 3.46086 17.9142 3.08579C17.5391 2.71071 17.0304 2.5 16.5 2.5Z' fill='%231890ff'%3E%3C/path%3E%3Cpath d='M38.5 2.5H26.5C25.9696 2.5 25.4609 2.71071 25.0858 3.08579C24.7107 3.46086 24.5 3.96957 24.5 4.5V16.5C24.5 17.0304 24.7107 17.5391 25.0858 17.9142C25.4609 18.2893 25.9696 18.5 26.5 18.5H38.5C39.0304 18.5 39.5391 18.2893 39.9142 17.9142C40.2893 17.5391 40.5 17.0304 40.5 16.5V4.5C40.5 3.96957 40.2893 3.46086 39.9142 3.08579C39.5391 2.71071 39.0304 2.5 38.5 2.5Z' fill='%231890ff'%3E%3C/path%3E%3Cpath d='M60.5 2.5H48.5C47.9696 2.5 47.4609 2.71071 47.0858 3.08579C46.7107 3.46086 46.5 3.96957 46.5 4.5V16.5C46.5 17.0304 46.7107 17.5391 47.0858 17.9142C47.4609 18.2893 47.9696 18.5 48.5 18.5H60.5C61.0304 18.5 61.5391 18.2893 61.9142 17.9142C62.2893 17.5391 62.5 17.0304 62.5 16.5V4.5C62.5 3.96957 62.2893 3.46086 61.9142 3.08579C61.5391 2.71071 61.0304 2.5 60.5 2.5Z' fill='%231890ff'%3E%3C/path%3E%3Cpath d='M16.5 24.5H4.5C3.96957 24.5 3.46086 24.7107 3.08579 25.0858C2.71071 25.4609 2.5 25.9696 2.5 26.5V38.5C2.5 39.0304 2.71071 39.5391 3.08579 39.9142C3.46086 40.2893 3.96957 40.5 4.5 40.5H16.5C17.0304 40.5 17.5391 40.2893 17.9142 39.9142C18.2893 39.5391 18.5 39.0304 18.5 38.5V26.5C18.5 25.9696 18.2893 25.4609 17.9142 25.0858C17.5391 24.7107 17.0304 24.5 16.5 24.5Z' fill='%231890ff'%3E%3C/path%3E%3Cpath d='M38.5 24.5H26.5C25.9696 24.5 25.4609 24.7107 25.0858 25.0858C24.7107 25.4609 24.5 25.9696 24.5 26.5V38.5C24.5 39.0304 24.7107 39.5391 25.0858 39.9142C25.4609 40.2893 25.9696 40.5 26.5 40.5H38.5C39.0304 40.5 39.5391 40.2893 39.9142 39.9142C40.2893 39.5391 40.5 39.0304 40.5 38.5V26.5C40.5 25.9696 40.2893 25.4609 39.9142 25.0858C39.5391 24.7107 39.0304 24.5 38.5 24.5Z' fill='%231890ff'%3E%3C/path%3E%3Cpath d='M60.5 24.5H48.5C47.9696 24.5 47.4609 24.7107 47.0858 25.0858C46.7107 25.4609 46.5 25.9696 46.5 26.5V38.5C46.5 39.0304 46.7107 39.5391 47.0858 39.9142C47.4609 40.2893 47.9696 40.5 48.5 40.5H60.5C61.0304 40.5 61.5391 40.2893 61.9142 39.9142C62.2893 39.5391 62.5 39.0304 62.5 38.5V26.5C62.5 25.9696 62.2893 25.4609 61.9142 25.0858C61.5391 24.7107 61.0304 24.5 60.5 24.5Z' fill='%231890ff'%3E%3C/path%3E%3Cpath d='M16.5 46.5H4.5C3.96957 46.5 3.46086 46.7107 3.08579 47.0858C2.71071 47.4609 2.5 47.9696 2.5 48.5V60.5C2.5 61.0304 2.71071 61.5391 3.08579 61.9142C3.46086 62.2893 3.96957 62.5 4.5 62.5H16.5C17.0304 62.5 17.5391 62.2893 17.9142 61.9142C18.2893 61.5391 18.5 61.0304 18.5 60.5V48.5C18.5 47.9696 18.2893 47.4609 17.9142 47.0858C17.5391 46.7107 17.0304 46.5 16.5 46.5Z' fill='%231890ff'%3E%3C/path%3E%3Cpath d='M38.5 46.5H26.5C25.9696 46.5 25.4609 46.7107 25.0858 47.0858C24.7107 47.4609 24.5 47.9696 24.5 48.5V60.5C24.5 61.0304 24.7107 61.5391 25.0858 61.9142C25.4609 62.2893 25.9696 62.5 26.5 62.5H38.5C39.0304 62.5 39.5391 62.2893 39.9142 61.9142C40.2893 61.5391 40.5 61.0304 40.5 60.5V48.5C40.5 47.9696 40.2893 47.4609 39.9142 47.0858C39.5391 46.7107 39.0304 46.5 38.5 46.5Z' fill='%231890ff'%3E%3C/path%3E%3Cpath d='M60.5 46.5H48.5C47.9696 46.5 47.4609 46.7107 47.0858 47.0858C46.7107 47.4609 46.5 47.9696 46.5 48.5V60.5C46.5 61.0304 46.7107 61.5391 47.0858 61.9142C47.4609 62.2893 47.9696 62.5 48.5 62.5H60.5C61.0304 62.5 61.5391 62.2893 61.9142 61.9142C62.2893 61.5391 62.5 61.0304 62.5 60.5V48.5C62.5 47.9696 62.2893 47.4609 61.9142 47.0858C61.5391 46.7107 61.0304 46.5 60.5 46.5Z' fill='%231890ff'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: 0 auto;
    }
    &__viewAll{
      color: #1890ff;
      font-size: 14px;
      font-family: $font-Roboto-Medium;
      padding-right: 22px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 24 24' fill='none' class='text-blue'%3E%3Cpath d='M9 6L15 12L9 18' stroke='%231890ff' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center right;
    }
    &__deal{
      min-height: 25px;
      background-color: #{$primary-color};
      border-top-right-radius: 5px;
      font-size: 10px;
      color: #ffffff;
      align-items: center;
      &__item{
        padding: 0 7px;
        white-space: nowrap;
        position: relative;
        &:nth-child(n+2){
          &:before{
            content: "";
            width: 1px;
            height: 26px;
            position: absolute;
            display: flex;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: #fff;
          }
        }
      }
    }
    &__ship{
      top: -1px;
      left: -1px;
      padding-left: 25px;
      padding-right: 5px;
      border-radius: 5px 0 5px 0;
      background-color: rgb(35, 198, 200);
      color: #ffffff;
      font-size: 10px;
      font-family: $font-Roboto-LightItalic;
      min-height: 25px;
      //min-width: 95px;
      display: flex;
      align-items: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 12' fill='%23ffffff'%3E%3Crect y='2' width='6' height='1' rx='0.5' fill='%23ffffff'%3E%3C/rect%3E%3Crect x='2' y='4' width='4' height='1' rx='0.5' fill='%23ffffff'%3E%3C/rect%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1C2 0.447715 2.44772 0 3 0H6C6.55228 0 7 0.447715 7 1V4C7 4.55228 6.55228 5 6 5H4V4H4.49995C4.77609 4 4.99995 3.77614 4.99995 3.5C4.99995 3.22386 4.77609 3 4.49995 3H4H2V1Z' fill='%23ffffff'%3E%3C/path%3E%3Cpath d='M9.4165 6.87593L8.0485 5.96393L9.67975 4.73993L11.47 6.53018C11.6106 6.67084 11.8014 6.74989 12.0002 6.74993H14.2502V5.24993H12.3107L10.2805 3.21968C10.1529 3.09203 9.98345 3.0147 9.80339 3.00189C9.62332 2.98908 9.44468 3.04164 9.30025 3.14993L7.1485 4.76468C6.95657 4.90859 6.80195 5.09643 6.69762 5.31245C6.5933 5.52846 6.5423 5.76635 6.54891 6.00615C6.55552 6.24594 6.61955 6.48066 6.73562 6.6906C6.8517 6.90053 7.01643 7.07957 7.216 7.21268L8.25025 7.90118V11.2499H9.75025V7.49993C9.75027 7.37649 9.71981 7.25495 9.66159 7.1461C9.60337 7.03724 9.51919 6.94444 9.4165 6.87593Z' fill='%23ffffff'%3E%3C/path%3E%3Cpath d='M5.25 7.5C4.80499 7.5 4.36998 7.63196 3.99997 7.87919C3.62996 8.12643 3.34157 8.47783 3.17127 8.88896C3.00097 9.3001 2.95642 9.7525 3.04323 10.189C3.13005 10.6254 3.34434 11.0263 3.65901 11.341C3.97368 11.6557 4.37459 11.8699 4.81105 11.9568C5.2475 12.0436 5.6999 11.999 6.11104 11.8287C6.52217 11.6584 6.87357 11.37 7.12081 11C7.36804 10.63 7.5 10.195 7.5 9.75C7.5 9.15326 7.26295 8.58097 6.84099 8.15901C6.41903 7.73705 5.84674 7.5 5.25 7.5ZM5.25 10.5C5.10166 10.5 4.95666 10.456 4.83332 10.3736C4.70999 10.2912 4.61386 10.1741 4.55709 10.037C4.50033 9.89997 4.48547 9.74917 4.51441 9.60368C4.54335 9.4582 4.61478 9.32456 4.71967 9.21967C4.82456 9.11478 4.9582 9.04335 5.10368 9.01441C5.24917 8.98547 5.39997 9.00032 5.53701 9.05709C5.67406 9.11386 5.79119 9.20998 5.8736 9.33332C5.95601 9.45666 6 9.60166 6 9.75C6 9.94891 5.92098 10.1397 5.78033 10.2803C5.63968 10.421 5.44891 10.5 5.25 10.5Z' fill='%23ffffff'%3E%3C/path%3E%3Cpath d='M12.75 7.5C12.305 7.5 11.87 7.63196 11.5 7.87919C11.13 8.12643 10.8416 8.47783 10.6713 8.88896C10.501 9.3001 10.4564 9.7525 10.5432 10.189C10.6301 10.6254 10.8443 11.0263 11.159 11.341C11.4737 11.6557 11.8746 11.8699 12.311 11.9568C12.7475 12.0436 13.1999 11.999 13.611 11.8287C14.0222 11.6584 14.3736 11.37 14.6208 11C14.868 10.63 15 10.195 15 9.75C15 9.15326 14.7629 8.58097 14.341 8.15901C13.919 7.73705 13.3467 7.5 12.75 7.5ZM12.75 10.5C12.6017 10.5 12.4567 10.456 12.3333 10.3736C12.21 10.2912 12.1139 10.1741 12.0571 10.037C12.0003 9.89997 11.9855 9.74917 12.0144 9.60368C12.0434 9.4582 12.1148 9.32456 12.2197 9.21967C12.3246 9.11478 12.4582 9.04335 12.6037 9.01441C12.7492 8.98547 12.9 9.00032 13.037 9.05709C13.1741 9.11386 13.2912 9.20998 13.3736 9.33332C13.456 9.45666 13.5 9.60166 13.5 9.75C13.5 9.94891 13.421 10.1397 13.2803 10.2803C13.1397 10.421 12.9489 10.5 12.75 10.5Z' fill='%23ffffff'%3E%3C/path%3E%3Cpath d='M12.0232 0C12.4211 0 12.8026 0.158035 13.0839 0.43934C13.3652 0.720644 13.5232 1.10218 13.5232 1.5C13.5232 1.89782 13.3652 2.27936 13.0839 2.56066C12.8026 2.84196 12.4211 3 12.0232 3C11.1945 3 9 1.5 9 1.5C9 1.5 11.1945 0 12.0232 0Z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center left 5px;
    }
  }
}