.header{
  &__navbar{
    &.danhmuc,
    &.uk-navbar-sticky{
      background-color: #fff;
      border-bottom: 1px solid #dee2e6!important;
    }
    .uk-navbar-left,
    .uk-navbar-right{
      gap: 0;
    }
    &__logo{
      font-size: 18px;
      font-family: $font-Roboto-Medium;
      span{
        @extend .line-clamp-1;
      }
    }
    .uk-navbar-item{
      min-height: 50px;
      padding: 0 15px;
    }
    &__icon{
      width: 24px;
      height: 24px;
      display: flex;
      background-repeat: no-repeat;
      background-position: center;
      &--back{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M17 2.5L7 12.5L17 22.5' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
      }
      &--setting{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M23 13.5V10.5L19.752 10.057C19.561 9.29471 19.2577 8.56507 18.852 7.892L20.836 5.282L18.718 3.161L16.108 5.145C15.4349 4.73934 14.7053 4.43603 13.943 4.245L13.5 1H10.5L10.057 4.248C9.29471 4.43903 8.56507 4.74234 7.892 5.148L5.282 3.161L3.161 5.282L5.145 7.892C4.73934 8.56507 4.43603 9.29471 4.245 10.057L1 10.5V13.5L4.248 13.943C4.43903 14.7053 4.74234 15.4349 5.148 16.108L3.164 18.718L5.285 20.839L7.895 18.855C8.56807 19.2607 9.29771 19.564 10.06 19.755L10.5 23H13.5L13.943 19.752C14.7053 19.561 15.4349 19.2577 16.108 18.852L18.718 20.836L20.839 18.715L18.855 16.105C19.2607 15.4319 19.564 14.7023 19.755 13.94L23 13.5Z' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
      }
      &--cart{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6 23C6.55228 23 7 22.5523 7 22C7 21.4477 6.55228 21 6 21C5.44772 21 5 21.4477 5 22C5 22.5523 5.44772 23 6 23Z' fill='currentColor'%3E%3C/path%3E%3Cpath d='M20 23C20.5523 23 21 22.5523 21 22C21 21.4477 20.5523 21 20 21C19.4477 21 19 21.4477 19 22C19 22.5523 19.4477 23 20 23Z' fill='currentColor'%3E%3C/path%3E%3Cpath d='M6 23C6.55228 23 7 22.5523 7 22C7 21.4477 6.55228 21 6 21C5.44772 21 5 21.4477 5 22C5 22.5523 5.44772 23 6 23Z' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M20 23C20.5523 23 21 22.5523 21 22C21 21.4477 20.5523 21 20 21C19.4477 21 19 21.4477 19 22C19 22.5523 19.4477 23 20 23Z' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M4.8 7H22L20 17H6L4 2H1' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
        position: relative;
        &:before{
          content: attr(data-cart);
          position: absolute;
          top: 0;
          right: 0;
          min-width: 24px;
          height: 24px;
          padding: 2px!important;
          border-radius: 24px!important;
          border: 2px solid #ffffff;
          color: #ffffff;
          background-color: #{$primary-color};
          display: flex;
          align-items: center;
          justify-content: center;
          transform-origin: 100% 0;
          transform: translate(50%,-50%);
          box-sizing: border-box;
          font-size: 10px;
        }
      }
    }
  }
}